
*{
    
    padding: 0;

}
header{
    padding: 10px;
    display:block;
    align-items: center;
    text-align: center;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
button{
    padding: 10px;
}
.button{
    padding: 10px;
    display:block;
    align-items: center;
    text-align: center;
}
.table{
    display:flex;
    align-items: center;
    text-align: center;
}
.table p{
    padding-right: 100px;
}
.remember{
    display:block;
    align-items: center;
    text-align: center;
}
main{
    
    display:block;
    align-items: center;
    text-align: center;
}